APP_ENV=development
# KAFKA_BOOTSTRAP_SERVERS=172.20.20.172:9092

KAFKA_GROUP_ID=cybertron

MYSQL_HOST=lastdb
MYSQL_PORT=3306
MYSQL_USER=lastdbadm
MYSQL_PASSWORD=
MYSQL_DATABASE=lastsecondb

SOURCE_TOPIC_PREFIX=lastdb.lastsecondb.
TARGET_TOPIC_PREFIX=

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CLIENT_ID=megatron

# Resilience tuning
KAFKA_INITIAL_RETRY_TIME_MS=500
KAFKA_MAX_RETRIES=10
KAFKA_SESSION_TIMEOUT_MS=30000
KAFKA_HEARTBEAT_INTERVAL_MS=3000
KAFKA_REBALANCE_TIMEOUT_MS=60000
KAFKA_WARMUP_RESTART_MS=30000   # 30s
KAFKA_TOPIC_WAIT_MS=20000       # wait up to 20s for initial topics at first start

KAFKA_TOPIC_MIN_COUNT=54         # set to how many you expect (or leave 0)
KAFKA_TOPIC_SYNC_MS=15000        # discover new topics every 15s

PORT=9000