CONNECT_URL=http://kafka_connect:8083
MONGODB_URI=mongodb://root:example@172.20.20.21:27017/?directConnection=true

MONGODB_DATABASE_BASE=lastsecond2
MONGODB_DATABASE_SPOTS=spot
MONGODB_DATABASE_CONTENTS=content

MONGODB_TOPICS_BASE=agencies,airlines,hotels,ignores,posts,comments,badges,badgeUser,travelMemories
MONGODB_TOPICS_SPOTS=spot_media,spot_locations,spot_users,spot_hotels,spot_settings,spot_faqs,spot_bulletins,spot_amenities,spot_facilities,spot_attractions,spot_attractionTypes,spot_restaurants,spot_agencies,spot_restaurantTypes,spot_utilities,spot_chains,spot_reviews,spot_parameters,spot_parameterReview,spot_features,spot_mediables,spot_likes,spot_featureReview,spot_featureLocation,spot_airports
MONGODB_TOPICS_CONTENTS=content_media,content_locations,content_users,content_hotels,content_settings,content_faqs,content_bulletins,content_facilities,content_attractions,content_attractionTypes,content_restaurants,content_badgeUser,content_badges,content_categories,content_competes,content_competitions,content_amenities,content_labels,content_listables,content_listings,content_landingpages,content_pages,content_textads,content_tourRequestOnlineTerms,content_travelogues,content_videoQualities,content_videos

# mongo databases will be selected from kafka topic using this prefixes for example spot_ means that data will be transfered to spot db in mongo
BASE_PREFIX=
SPOTS_PREFIX=spot_
CONTENTS_PREFIX=content_

MONGODB_SINK_BASE_NAME=mongodb-sink-base
MONGODB_SINK_SPOT_NAME=mongodb-sink-spot
MONGODB_SINK_CONTENT_NAME=mongodb-sink-content
MONGODB_SINK_TASKS_MAX=1

MONGO_KEY_CONVERTER=org.apache.kafka.connect.storage.StringConverter
MONGO_VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
MONGO_VALUE_CONVERTER_SCHEMAS_ENABLE=false
MONGO_DOCUMENT_ID_STRATEGY=com.mongodb.kafka.connect.sink.processor.id.strategy.ProvidedInKeyStrategy
MONGO_WRITEMODEL_STRATEGY=com.mongodb.kafka.connect.sink.writemodel.strategy.ReplaceOneDefaultStrategy
MONGO_DELETE_ON_NULL_VALUES=true
MONGO_RECONNECT_BACKOFF_MS=1000
MONGO_RECONNECT_BACKOFF_MAX_MS=10000

# (optional)service/container names, brokers, waits
DOCKER_COMPOSE_CMD=
ZOOKEEPER_SERVICE=zookeeper_cybertron
KAFKA_SERVICE=kafka
CONNECT_SERVICE=kafka_connect
MEGATRON_SERVICE=megatron
KAFKA_BOOTSTRAP_BROKERS=kafka:9092

CONNECT_WAIT_TIMEOUT_SEC=120
CONNECT_WAIT_POLL_SEC=2
DEBEZIUM_WAIT_TIMEOUT_SEC=1111
#EXCEPTION_DEBEZIUM_TOPICS=lastdb.lastsecondb.pages
DEBEZIUM_WAIT_POLL_SEC=3
REQUIRE_OFFSETS_READY=false

# shut down
COMPOSE_PROJECT_NAME=cybertron
REMOVE_ORPHANS=true
REMOVE_VOLUMES=false
REMOVE_IMAGES_LOCAL=false
REMOVE_IMAGES_ALL=false
DOWN_TIMEOUT=30

# What clients use to reach Kafka EXTERNAL listener
EXTERNAL_ADDR=localhost

# Static IPs (override defaults only if you change them)
ZOOKEEPER_IP=172.20.20.171
KAFKA_IP=172.20.20.172
KCONNECT_IP=172.20.20.173
MEGATRON_IP=172.20.20.175
